* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: #fff;
  background-image: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

#nav-bar h2 {
  font-size: 300%;
  font-weight: bold;
  padding: 2%;
}

.nav-list {
  gap: 0;
  display: flex;
  min-width: 30%;
  justify-content: space-between;
}

.nav-list li a {
  padding: 5%;
  font-weight: 100;
  color: #fff;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 20px;
}

.nav-list li:hover {
  background-color: rgba(79, 24, 90, 0.7);
  transition: 0.3s ease;
}

.nav-list li:hover .dropdown li a {
  background-color: rgba(255, 255, 255, 0);
}

.nav-list li {
  border-left: 2px solid white;
  padding: 2%;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.dropdown {
  padding: 0px;
  margin: auto;
  position: relative;
  display: none;
  top:100%;
  left:0;
}

#nav-dropdown:hover .dropdown {
  display: flex;
  background-color: rgba(79, 24, 90, 0.7);
  transition: 0.3s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.dropdown li {
  border: 0;
  border-bottom: 0px solid white;
  font-size: 70%;
  flex: 1;
  margin: 1%;
}

p {
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 5px solid rgb(93, 0, 129);
}

#about-me h2 {
  font-size: 200%;
  font-weight: 700;
  color: rgb(93, 0, 129);
  margin: 5%;
  margin-bottom: 0px;
}

#project-header {
  font-size: 200%;
  font-weight: 700;
  color: rgb(93, 0, 129);
  border-top: 2px solid rgb(93, 0, 129);
  margin: 5%;
  margin-bottom: 0px;
  padding-top: 2%;
  margin-top: 3%;
}

.project-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: rgb(130, 57, 158);
  border: 5px solid rgb(93, 0, 129);
  color: #fff;
  margin-left: 20%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.project-bar h3 {
  text-align: center;
  font-size: 200%;
  padding: 1.5%;
  flex: 0;
}

#contact h3 {
  font-size: 200%;
  font-weight: 700;
  color: rgb(93, 0, 129);
  border-top: 2px solid rgb(93, 0, 129);
  margin: 5%;
  margin-bottom: 0px;
  padding-top: 2%;
  margin-top: 3%;
}

#contact ul {
  list-style-type: circle;
  margin-left: 30%;
  margin-top: 2%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 5px solid rgb(93, 0, 129);
}

.project-card {
  background-color: rgb(136, 79, 158);
  border: 5px solid rgb(93, 0, 129);
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 60%;
  margin: 2% 0 2% 0;
  padding-bottom: 5%;
}

.project-card h3 {
  background-image: linear-gradient(
    to right,
    rgb(93, 0, 129),
    rgba(93, 0, 129, 0.4)
  );
  margin: 2% 0 2% 0;
  color: #fff;
  padding: 3%;
  font-size: 200%;
  font-weight: 700;
}

.project-card h2 {
  background-image: linear-gradient(
    to left,
    rgb(93, 0, 129),
    rgba(93, 0, 129, 0.4)
  );
  text-align: center;
  color: #fff;
  padding: 3%;
}

#first {
  min-width: 100%;
  padding-bottom: 30%;
  background: url(https://images.unsplash.com/photo-1529699211952-734e80c4d42b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80)
    rgba(93, 0, 129, 0.2);
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
}

#second {
  background: url(https://images.unsplash.com/photo-1617791160536-598cf32026fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80)
    rgba(93, 0, 129, 0.2);
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
}

#third {
  background: url(https://images.unsplash.com/photo-1614032686099-e648d6dea9b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80)
    rgba(93, 0, 129, 0.2);
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
}

#fourth {
  background: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1640&q=80)
    rgba(93, 0, 129, 0.2);
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
}

#fifth {
  background: url(https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)
    rgba(93, 0, 129, 0.2);
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
}

footer {
  margin-top: 5%;
  background-color: rgba(136, 79, 158, 0.2);
  background-image: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  padding: 3%;
}
