* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
  color: #fff;
  background-image: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

#nav-bar h2 {
  font-size: 300%;
  padding: 2%;
}

#nav-list {
  gap: 0;
  display: flex;
  min-width: 30%;
}

#nav-list li a {
  color: #fff;
}

#nav-list li {
  white-space: nowrap;
  text-overflow: none;
  overflow: hidden;
  padding: 10%;
  background-color: rgba(255, 0, 255, 0.4);
  border-left: 3px solid;
  border-color: rgba(255, 255, 255, 1);
  text-align: center;
  justify-content: center;
  flex: 1;
}

.dropdown {
  background-color: rgb(104, 34, 98);
  padding: 0;
  margin-top: 3%;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

#nav-list li:hover {
  background-color: rgb(104, 34, 98);
  transition: 0.3s ease;
}

#nav-dropdown:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 5%;
}
